* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Work Sans", sans-serif;
    box-sizing: border-box;
    background-color: #F7F7F7;
}

h1,
h2,
h3 {
    font-weight: lighter;
    letter-spacing: 1px;
}


/* NAVIGATION */

nav.front-nav {
    background: #f4f7f8;
    padding: .5rem;
    /* padding-bottom: 0; */
    text-transform: uppercase;
}

nav ul {
    font-size: 12px;
    /* justify-content: center; */
    /* align-items: center;
  align-content: center; */
}

.nav-ul .image {
    margin-bottom: 0;
    height: 0;
    padding-right: 0px;
}

.nav-ul .image>li {
    border: none;
}

nav ul.nav-ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'd1 d1 d1 d2';
}

.nav-ul li {
    list-style: none;
    padding: 10px 1.8rem;
    padding-top: ;
    border-right: 1px solid;
    border-color: black;
    text-align: center;
    font-size: 1.5em;
}

.nav-ul li a {
    text-decoration: none;
    color: black;
    border
}

.nav-ul .right-element {
    grid-area: d1;
    display: flex;
}

.nav-ul .signs {
    display: flex;
}

.nav-ul .signs>li {
    border: none;
    padding-right: 0.4rem;
}

.nav-ul .left-element {
    display: flex;
    align-content: flex-end;
    margin-left: 200px;
}

h2 {
    font-weight: lighter;
    letter-spacing: 5px;
    text-align: center
}


/******************************************************************* layout colunas */

#logUser {
    /* ID PARA LOGIN DO USUARIO PARÇA   */
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 60px;
    width: 80%;
    text-align: center
}

.col-2 {
    float: left;
    /* para layout flexbox, retirar esta linha */
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 100%;
    text-align: left;
}

.container {
    background-color: white;
    overflow: hidden;
    text-align: center;
}


/*********************************************************************** header*/

header,
footer {
    background-color: white;
    color: white;
    position: relative;
}


/************************************************************************ redes sociais */

footer {
    clear: left;
    /* para layout flexbox, retirar esta linha */
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: black;
}

footer p {
    text-align: left;
}

.social {
    padding: 0;
}

.social li {
    display: inline;
}


/*************************************************** formulario */

.ItemContato {
    padding: 10px;
}

.form-item {
    padding: 10px;
}

.rotulo {
    display: block;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    border: 1px solid #5995DA;
    padding: 3px;
}

input[type="submit"] {
    background-color: #5995DA;
    color: white;
    padding: 3px 20px;
    border: none;
}

input[type="submit"]:hover {
    box-shadow: 2px 2px 2px #000;
    cursor: pointer;
}

.msg-erro {
    padding-top: 5px;
    color: red;
    font-size: 0.8em;
    font-style: italic;
    display: none;
}

@media only screen and (min-width: 1000px) {
    .rotulo {
        display: inline-block;
        width: 20%;
        text-align: right;
    }
    .msg-erro,
    #mensagem-empresa {
        padding-left: 20%;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    select,
    textarea {
        width: initial;
    }
}